# Created by Vercel CLI
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET="your_google_client_secret"
NEXTAUTH_SECRET="PiRlq+7IyU5QJuCiVwjiuwZUGCqc/3qw1QPgLOt2AFg="
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_API_URL="https://stage-api.boundlessfi.xyz/api"
NEXT_PUBLIC_APP_DESCRIPTION="Stellar-based application"
NEXT_PUBLIC_APP_ICON="/logo.svg"
NEXT_PUBLIC_APP_NAME="Boundless"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_BETTER_AUTH_URL="https://stage-api.boundlessfi.xyz"
NEXT_PUBLIC_BOUNDLESS_PLATFORM_ADDRESS=""
NEXT_PUBLIC_DEBUG_MODE="false"
NEXT_PUBLIC_ENABLE_MULTI_WALLET="true"
NEXT_PUBLIC_ENABLE_NETWORK_SWITCHING="true"
NEXT_PUBLIC_ENABLE_WALLET_CONNECT="true"
NEXT_PUBLIC_GOOGLE_CLIENT_ID=""
NEXT_PUBLIC_HORIZON_PUBLIC_URL="https://horizon.stellar.org"
NEXT_PUBLIC_HORIZON_TESTNET_URL="https://horizon-testnet.stellar.org"
NEXT_PUBLIC_STELLAR_NETWORK="testnet"
NEXT_PUBLIC_TRUSTLESS_WORK_API_KEY=""
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID="your_wallet_connect_project_id"
NODE_ENV="dev"